#btm1{
    margin: 20px;
}
input{
    margin-left: 20px;
}
#btm2{
    margin: 20px;
    display:none;
}
body{
    text-align: center;
}
#result{
    background-color: aquamarine;
    width: 80%;
}
#name-comma{
    background-color: orangered;
    width: 80%;
}